#ScheduleCardHeading {
}

.schedule-card {
  background-color: rgb(220,220,220);
  border-radius: 22px;
  padding: 0px;
  margin-bottom: 5px;
}

.schedule-card-title {
  text-overflow: clip;
  overflow: hidden;
  width: 100%;
  font-size: 22px;
  text-align: left;
  padding-left: 15px;
  white-space: nowrap;
}

.schedule-card-body {
  display: flex;
  align-items: center;
  flex-grow: initial;
  height: 50px;
  padding: 10px;
}

.schedule-card-icon {
  width: 100px;
}

.schedule-card-time {
  font-size: 22px;
  right: 0px;
  width: 100%;
}

#schedule-card-container {
  display: flex;
  flex-direction: column;
}

.global-body {
  background: rgb(21, 21, 21);
}

li {
  width: 100%;
  text-align: center;
  box-shadow: 1px 3px 1px grey;
}

#drug-search-list {
  list-style-type: none;
  padding: 0px;
  padding-bottom: 10px;
}

.schedule-card-second-body {
  display: none;
  padding: 15px;
}

.schedule-card-take-button {
  width: 100%;
}

